.elementor-24090 .elementor-element.elementor-element-672e3ab .elementor-image img {
    opacity: 1;
    filter: brightness( 100%) contrast( 100%) saturate( 100%) blur( 0px) hue-rotate( 0deg);
    transition-duration: 0.3s;
}

.elementor-24090 .elementor-element.elementor-element-672e3ab .elementor-image:hover img {
    opacity: 0.6;
    filter: brightness( 100%) contrast( 100%) saturate( 0%) blur( 0px) hue-rotate( 0deg);
}