.elementor-18 .elementor-element.elementor-element-94a53e5 {
    text-align: left;
}

.elementor-18 .elementor-element.elementor-element-94a53e5>.elementor-widget-container {
    margin: -20px 0px 11px 0px;
}

.elementor-18 .elementor-element.elementor-element-403d2e5 {
    color: #ffffff;
}

.elementor-18 .elementor-element.elementor-element-403d2e5>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-18 .elementor-element.elementor-element-ffce48a {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 20px;
    --grid-column-gap: 10px;
    --grid-row-gap: 0px;
}

.elementor-18 .elementor-element.elementor-element-ffce48a .elementor-widget-container {
    text-align: left;
}

.elementor-18 .elementor-element.elementor-element-3d9b935>.elementor-element-populated {
    padding: 20px 10px 20px 30px;
}

.elementor-18 .elementor-element.elementor-element-5c689de .elementor-heading-title {
    color: #ffffff;
}

.elementor-18 .elementor-element.elementor-element-5c689de>.elementor-widget-container {
    margin: 0px 0px 25px 0px;
}

.elementor-18 .elementor-element.elementor-element-702299c .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(10px/2);
}

.elementor-18 .elementor-element.elementor-element-702299c .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(10px/2);
}

.elementor-18 .elementor-element.elementor-element-702299c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(10px/2);
    margin-left: calc(10px/2);
}

.elementor-18 .elementor-element.elementor-element-702299c .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-10px/2);
    margin-left: calc(-10px/2);
}

body.rtl .elementor-18 .elementor-element.elementor-element-702299c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-10px/2);
}

body:not(.rtl) .elementor-18 .elementor-element.elementor-element-702299c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-10px/2);
}

.elementor-18 .elementor-element.elementor-element-702299c .elementor-icon-list-icon i {
    color: #ffffff;
    font-size: 16px;
}

.elementor-18 .elementor-element.elementor-element-702299c .elementor-icon-list-icon svg {
    fill: #ffffff;
    width: 16px;
}

.elementor-18 .elementor-element.elementor-element-702299c .elementor-icon-list-icon {
    text-align: left;
}

.elementor-18 .elementor-element.elementor-element-702299c .elementor-icon-list-text {
    color: #ffffff;
}

.elementor-18 .elementor-element.elementor-element-702299c .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #FFF565;
}

.elementor-18 .elementor-element.elementor-element-ffc81df .elementor-heading-title {
    color: #ffffff;
}

.elementor-18 .elementor-element.elementor-element-ffc81df>.elementor-widget-container {
    margin: 0px 0px 25px 0px;
}

.elementor-18 .elementor-element.elementor-element-fefcad1 .elementor-heading-title {
    color: #ffffff;
}

.elementor-18 .elementor-element.elementor-element-fefcad1>.elementor-widget-container {
    margin: 0px 0px 25px 0px;
}

.elementor-18 .elementor-element.elementor-element-a42e2ca {
    color: #ffffff;
}

.elementor-18 .elementor-element.elementor-element-a42e2ca>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
}

.elementor-18 .elementor-element.elementor-element-d473bd3 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(10px/2);
}

.elementor-18 .elementor-element.elementor-element-d473bd3 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(10px/2);
}

.elementor-18 .elementor-element.elementor-element-d473bd3 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(10px/2);
    margin-left: calc(10px/2);
}

.elementor-18 .elementor-element.elementor-element-d473bd3 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-10px/2);
    margin-left: calc(-10px/2);
}

body.rtl .elementor-18 .elementor-element.elementor-element-d473bd3 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-10px/2);
}

body:not(.rtl) .elementor-18 .elementor-element.elementor-element-d473bd3 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-10px/2);
}

.elementor-18 .elementor-element.elementor-element-d473bd3 .elementor-icon-list-icon i {
    color: #ffffff;
    font-size: 16px;
}

.elementor-18 .elementor-element.elementor-element-d473bd3 .elementor-icon-list-icon svg {
    fill: #ffffff;
    width: 16px;
}

.elementor-18 .elementor-element.elementor-element-d473bd3 .elementor-icon-list-text {
    color: #ffffff;
}

.elementor-18 .elementor-element.elementor-element-d473bd3>.elementor-widget-container {
    margin: 0px 0px -10px 0px;
}

.elementor-18 .elementor-element.elementor-element-c985d3e .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(10px/2);
}

.elementor-18 .elementor-element.elementor-element-c985d3e .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(10px/2);
}

.elementor-18 .elementor-element.elementor-element-c985d3e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(10px/2);
    margin-left: calc(10px/2);
}

.elementor-18 .elementor-element.elementor-element-c985d3e .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-10px/2);
    margin-left: calc(-10px/2);
}

body.rtl .elementor-18 .elementor-element.elementor-element-c985d3e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-10px/2);
}

body:not(.rtl) .elementor-18 .elementor-element.elementor-element-c985d3e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-10px/2);
}

.elementor-18 .elementor-element.elementor-element-c985d3e .elementor-icon-list-icon i {
    color: #ffffff;
    font-size: 16px;
}

.elementor-18 .elementor-element.elementor-element-c985d3e .elementor-icon-list-icon svg {
    fill: #ffffff;
    width: 16px;
}

.elementor-18 .elementor-element.elementor-element-c985d3e .elementor-icon-list-text {
    color: #ffffff;
}

.elementor-18 .elementor-element.elementor-element-c985d3e .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #000000;
}

.elementor-18 .elementor-element.elementor-element-29774c0:not(.elementor-motion-effects-element-type-background),
.elementor-18 .elementor-element.elementor-element-29774c0>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: lightgreen;
    background-image: url("https://pallikoodam.wpengine.com/wp-content/uploads/2019/09/footer-pattern.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-18 .elementor-element.elementor-element-29774c0 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 250px 0px 60px 0px;
}

.elementor-18 .elementor-element.elementor-element-29774c0>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-18 .elementor-element.elementor-element-29774c0>.elementor-shape-top svg {
    width: calc(200% + 1.3px);
    height: 160px;
    transform: translateX(-50%) rotateY(180deg);
}

.elementor-18 .elementor-element.elementor-element-b754f51>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-18 .elementor-element.elementor-element-f489bda .elementor-text-editor {
    text-align: center;
}

.elementor-18 .elementor-element.elementor-element-f489bda {
    color: #ffffff;
}

.elementor-18 .elementor-element.elementor-element-f489bda>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-18 .elementor-element.elementor-element-8bc5b47:not(.elementor-motion-effects-element-type-background),
.elementor-18 .elementor-element.elementor-element-8bc5b47>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: lightgreen !important;
}

.elementor-18 .elementor-element.elementor-element-8bc5b47>.elementor-background-overlay {
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-18 .elementor-element.elementor-element-8bc5b47 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 25px 0px 25px 0px;
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-18 .elementor-element.elementor-element-2c31063 {
        width: 50%;
    }
    .elementor-18 .elementor-element.elementor-element-3d9b935 {
        width: 50%;
    }
    .elementor-18 .elementor-element.elementor-element-54342a1 {
        width: 50%;
    }
    .elementor-18 .elementor-element.elementor-element-f6927cb {
        width: 50%;
    }
}

@media(max-width:1024px) {
    .elementor-18 .elementor-element.elementor-element-94a53e5 .elementor-image img {
        width: 80%;
    }
    .elementor-18 .elementor-element.elementor-element-3d9b935>.elementor-element-populated {
        padding: 10px 10px 10px 20px;
    }
    .elementor-18 .elementor-element.elementor-element-54342a1>.elementor-element-populated {
        margin: 25px 0px 0px 0px;
    }
    .elementor-18 .elementor-element.elementor-element-f6927cb>.elementor-element-populated {
        margin: 25px 0px 0px 0px;
    }
}

@media(max-width:767px) {
    .elementor-18 .elementor-element.elementor-element-94a53e5 .elementor-image img {
        width: 60%;
    }
    .elementor-18 .elementor-element.elementor-element-3d9b935>.elementor-element-populated {
        margin: 10px 0px 0px 0px;
        padding: 10px 10px 10px 20px;
    }
    .elementor-18 .elementor-element.elementor-element-54342a1>.elementor-element-populated {
        margin: 20px 0px 0px 0px;
    }
    .elementor-18 .elementor-element.elementor-element-f6927cb>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
    }
    .elementor-18 .elementor-element.elementor-element-8bc5b47 {
        padding: 25px 0px 25px 0px;
    }
}