body.has-gutenberg-blocks h2 {
    letter-spacing: 0;
}

body.has-gutenberg-blocks .blog-single-entry .entry-body>[class^="wp-block-spacer"]:empty {
    display: none;
}

body.has-gutenberg-blocks .blog-single-entry .entry-body {
    padding: 0;
}

body.has-gutenberg-blocks *[class^="wp-block"] .selection-box {
    display: inline-block;
    margin-bottom: 30px;
}

body.has-gutenberg-blocks em a {
    color: inherit;
    opacity: 0.75;
}

body.has-gutenberg-blocks em a:hover {
    opacity: 1;
}

blockquote.wp-block-quote,
.wp-block-pullquote blockquote {
    background-color: transparent;
}

.wp-block-pullquote blockquote {
    border-width: 0;
    margin: 0;
    padding: 0;
}

.wp-block-pullquote p {
    font-weight: normal;
}

.wp-block-quote>cite {
    margin-top: 0;
    text-align: inherit;
}

.wp-block-table,
.wp-block-table.is-style-stripes {
    border-collapse: collapse;
}

.wp-block-table td,
.wp-block-table th,
.wp-block-table.is-style-stripes td,
.wp-block-table.is-style-stripes th {
    border-color: rgba(0, 0, 0, 0.1);
}

.wp-block-table tbody tr:nth-child(2n+1) {
    background: rgba(0, 0, 0, 0);
}

.wp-block-table td,
.wp-block-table th {
    text-align: left;
    vertical-align: middle;
}

.wp-block-separator {
    border: 0;
    background: #eaeaea;
}

.wp-block-gallery li {
    padding: 0;
}

.wp-block-gallery.is-cropped .blocks-gallery-image a,
.wp-block-gallery.is-cropped .blocks-gallery-image img,
.wp-block-gallery.is-cropped .blocks-gallery-item a,
.wp-block-gallery.is-cropped .blocks-gallery-item img {
    flex: 1;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
}

.wp-block-archives,
.wp-block-categories,
.wp-block-latest-posts,
.wp-block-archives ul,
.wp-block-categories ul,
.wp-block-latest-posts ul {
    list-style: none;
}

.wp-block-archives,
.wp-block-categories,
.wp-block-latest-posts,
.wp-block-latest-comments {
    padding-left: 0;
}

.wp-block-latest-posts.is-grid li,
.wp-block-latest-comments li {
    padding: 0;
}

.alignfull {
    max-width: inherit;
    position: relative;
}

.alignwide {
    clear: both;
    width: 100%;
}

.wp-block-spacer {
    clear: both;
    display: block;
    float: none;
    margin: 0 !important;
}

.wp-block-cover,
.wp-block-media-text,
.wp-block-button,
.wp-block-button__link {
    margin-bottom: 1.5em;
}

.wp-block-button__link {
    margin-bottom: 25px;
}

.wp-block-button:not(.is-style-outline) .wp-block-button__link:hover {
    background-color: #000;
}

.is-style-outline .wp-block-button__link:hover {
    color: #000;
}

.wp-block-file .wp-block-file__button {
    display: table;
    margin: 15px 0 0;
}

p.has-large-font-size,
body.has-gutenberg-blocks p.has-large-font-size,
body.has-gutenberg-blocks .blog-single-entry .entry-body>p[style*="font-size"] {
    line-height: normal;
}

.wp-block-cover-image .wp-block-cover-image-text,
.wp-block-cover-image .wp-block-cover-text,
.wp-block-cover-image h2,
.wp-block-cover .wp-block-cover-image-text,
.wp-block-cover .wp-block-cover-text,
.wp-block-cover h2 {
    padding: 0.75em;
}

body.has-gutenberg-blocks .blog-single-entry .entry-body ul li a,
.wp-block-cover .wp-block-cover-text a:hover {
    opacity: 0.75;
}

.wp-block-button .wp-block-button__link {
    margin-bottom: 0;
}

.wp-block-media-text .wp-block-media-text__content p {
    margin: 1em 0;
}

.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
    margin: 0 0 28px;
    padding: 0;
}

.wp-block-pullquote__citation,
.wp-block-pullquote cite,
.wp-block-pullquote footer {
    text-transform: none;
}

blockquote.wp-block-quote {
    margin-top: 0;
}

.with-both-sidebar .wp-block-gallery.columns-6 .blocks-gallery-image,
.with-both-sidebar .wp-block-gallery.columns-6 .blocks-gallery-item,
.with-both-sidebar .wp-block-gallery.columns-7 .blocks-gallery-image,
.with-both-sidebar .wp-block-gallery.columns-7 .blocks-gallery-item,
.with-both-sidebar .wp-block-gallery.columns-8 .blocks-gallery-image,
.with-both-sidebar .wp-block-gallery.columns-8 .blocks-gallery-item {
    margin-right: 16px;
    width: calc((100% - 16px)/2);
}

.with-both-sidebar .wp-block-gallery.columns-6 .blocks-gallery-image:nth-of-type(2n),
.with-both-sidebar .wp-block-gallery.columns-6 .blocks-gallery-item:nth-of-type(2n),
.with-both-sidebar .wp-block-gallery.columns-7 .blocks-gallery-image:nth-of-type(2n),
.with-both-sidebar .wp-block-gallery.columns-7 .blocks-gallery-item:nth-of-type(2n),
.with-both-sidebar .wp-block-gallery.columns-8 .blocks-gallery-image:nth-of-type(2n),
.with-both-sidebar .wp-block-gallery.columns-8 .blocks-gallery-item:nth-of-type(2n) {
    margin-right: 0;
}

.wp-block-cover-image .wp-block-subhead:not(.has-text-color),
.wp-block-cover-image h1:not(.has-text-color),
.wp-block-cover-image h2:not(.has-text-color),
.wp-block-cover-image h3:not(.has-text-color),
.wp-block-cover-image h4:not(.has-text-color),
.wp-block-cover-image h5:not(.has-text-color),
.wp-block-cover-image h6:not(.has-text-color),
.wp-block-cover-image p:not(.has-text-color),
.wp-block-cover .wp-block-subhead:not(.has-text-color),
.wp-block-cover h1:not(.has-text-color),
.wp-block-cover h2:not(.has-text-color),
.wp-block-cover h3:not(.has-text-color),
.wp-block-cover h4:not(.has-text-color),
.wp-block-cover h5:not(.has-text-color),
.wp-block-cover h6:not(.has-text-color),
.wp-block-cover p:not(.has-text-color) {
    color: #fff;
}

@media only screen and (max-width: 479px) {
    .wp-block-audio audio {
        min-width: 100%;
    }
    .wp-block-embed-instagram iframe {
        min-width: 290px !important;
        width: 290px !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .page-with-sidebar .wp-block-gallery.columns-6 .blocks-gallery-image,
    .page-with-sidebar .wp-block-gallery.columns-6 .blocks-gallery-item,
    .page-with-sidebar .wp-block-gallery.columns-7 .blocks-gallery-image,
    .page-with-sidebar .wp-block-gallery.columns-7 .blocks-gallery-item,
    .page-with-sidebar .wp-block-gallery.columns-8 .blocks-gallery-image,
    .page-with-sidebar .wp-block-gallery.columns-8 .blocks-gallery-item {
        margin-right: 16px;
        width: calc((100% - 16px)/2);
    }
    .page-with-sidebar .wp-block-gallery.columns-6 .blocks-gallery-image:nth-of-type(2n),
    .page-with-sidebar .wp-block-gallery.columns-6 .blocks-gallery-item:nth-of-type(2n),
    .page-with-sidebar .wp-block-gallery.columns-7 .blocks-gallery-image:nth-of-type(2n),
    .page-with-sidebar .wp-block-gallery.columns-7 .blocks-gallery-item:nth-of-type(2n),
    .page-with-sidebar .wp-block-gallery.columns-8 .blocks-gallery-image:nth-of-type(2n),
    .page-with-sidebar .wp-block-gallery.columns-8 .blocks-gallery-item:nth-of-type(2n) {
        margin-right: 0;
    }
}