<div xmls:th="http://www.thymeleaf.org" th:replace="admin/master::layout(~{::section})">

	<section>
		<main id="main" class="main">

			<div class="pagetitle">
				<h1>Add Subject</h1>
				<p th:text="${session.attributeName}"></p>
				<nav>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="adminDashBoard">Admin</a></li>
						<li class="breadcrumb-item">Library</li>
						<li class="breadcrumb-item active">Book</li>
					</ol>
				</nav>
				<div class="col-sm-12">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Add Book...</h5>

							<!-- Vertical Form -->
							<form class="row g-3" th:action="@{/addBook}" method="post" enctype="multipart/form-data"
								th:Object="${book}">
								<div class="col-sm-6">
									<div class="col-12">
										<label for="subName" class="form-label">Subject Name</label>
										<input type="text" name="subName" class="form-control" id="inputNanme4">
									</div>
									<div class="col-12">
										<label for="subTitle" class="form-label">Book Title</label>
										<input type="text" name="subTitle" class="form-control" id="subTitle">
									</div>
									<div class="col-12">
										<label for="publisher" class="form-label">Publisher</label>
										<input type="text" name="publisher" class="form-control" id="publisher">
									</div>
									<div class="col-12">
										<label for="classes" class="form-label">Class</label>
										<select name="classes" id="cars" class="form-control">
											<option value="Class 1" class="form-control" >Class 1</option>
											<option value="Class 2" class="form-control" >Class 2</option>
											<option value="Class 3" class="form-control" >Class 3</option>
											<option value="Class 4" class="form-control" >Class 4</option>
											<option value="Class 5" class="form-control" >Class 5</option>
											<option value="Class 6" class="form-control" >Class 6</option>
										</select>
									</div>
									<div class="col-12">
										<label for="bookIssueDate" class="form-label">Book Issue Date</label>
										<input type="date" name="bookIssueDate" class="form-control" id="bookIssueDate">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="col-12">
										<label for="author" class="form-label">Author</label>
										<input type="text" name="author" class="form-control" id="author">
									</div>
									<div class="col-12">
										<label for="subIcon" class="form-label">Subject Icon</label>
										<input type="file" name="subIcon" class="form-control" id="inputNanme4">
									</div>
									<div class="col-12">
										<label for="substatus" class="form-label">Subject Status</label>
										<select name="substatus" id="cars" class="form-control">
											<option value="Active" class="form-control" >Active</option>
											<option value="Passive" class="form-control" >Inactive</option>
										</select>
									</div>
									<div class="col-12">
										<label for="bookSubmitDate" class="form-label">Book submisson date</label>
										<input type="date" name="bookSubmitDate" class="form-control" id="bookSubmitDate">
									</div>
							<br>
								<div class="text-center" style="text-align: center;">
									<button type="submit" name="submit" class="btn btn-primary">Submit</button>
									<button type="reset" name="reset" class="btn btn-secondary">Reset</button>
									<button name="allbook" download class="btn btn-success"><a th:href="@{/downloadBook}" style="color: white;">All Book</a></button>
								</div>
							</div>
							</form><!-- Vertical Form -->

						</div>
					</div>
				</div>
			</div><!-- End Page Title -->

		</main><!-- End #main -->
	</section>
</div>