<div xmls:th="http://www.thymeleaf.org" th:replace="admin/master::layout(~{::section})">

	<section>
		<main id="main" class="main">

			<div class="pagetitle">
				<h1>Add Quiz</h1>
				<nav>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="adminDashBoard">Admin</a></li>
						<li class="breadcrumb-item">Add Quiz</li>
					</ol>
				</nav>
				<!-- Button trigger start modal -->
				<button type="button" class="btn btn-success btnss" data-bs-toggle="modal"
					data-bs-target="#staticBackdrop">
					Add Quiz</button>
				 <button type="button" class="btn btn-warning btnss"><img th:src="@{../../img/key.png}" height="20px" width="70px"/></button>
					
				<!-- Button trigger end modal -->
				<div class="col-sm-12">
					<div class="card">
						<div class="card-body">
							<h2 class="card-title">Quiz Details...</h2>

							<!-- Button trigger start modal -->

							<!-- Modal -->
							<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
								data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
								aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="staticBackdropLabel">Add
												Quiz...</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal"
												aria-label="Close"></button>
										</div>
										<div class="modal-body" style="padding: 24px;">

											<form class="row g-3" th:action="@{/quiz}" enctype="multipart/form-data"
												method="POST" th:Object="${cate}">
												<div class="col-12">
													<label for="question" class="form-label">Question</label> <input
														type="text" name="question" class="form-control" id="question">
												</div>

												<div class="col-12">
													<label for="op1" class="form-label">First Option</label> <input
														type="text" name="op1" class="form-control" id="op1">
												</div>
												<div class="col-12">
													<label for="op2" class="form-label">Second Option</label> <input
														type="text" name="op2" class="form-control" id="op4">
												</div>
												<div class="col-12">
													<label for="op3" class="form-label">Third Option</label> <input
														type="text" name="op3" class="form-control" id="op3">
												</div>
												<div class="col-12">
													<label for="op4" class="form-label">fourth Option</label> <input
														type="text" name="op4" class="form-control" id="op4">
												</div>
												<div class="col-12">
													<label for="answer" class="form-label">Correct
														Answer</label> <input type="text" name="answer"
														class="form-control" id="answer">
												</div>
												<div class="col-12">
													<label for="category" class="form-label">Category</label> <select
														name="category" id="cars" class="form-control">
														<option th:each="Sub : ${cate}" th:value="${Sub.category}"
															th:text="${Sub.category}" class="form-control"></option>
													</select>
												</div>
												<br>
												<div class="text-center" style="text-align: center;">
													<button type="submit" name="submit"
														class="btn btn-success">Submit</button>
													<button type="button" class="btn btn-secondary"
														data-bs-dismiss="modal">Close</button>
												</div>
										</div>
										</form>
										<!-- Vertical Form -->

									</div>
								</div>
							</div>
						</div>
						<!-- HTML5 Input Form Elements end Modals-->

						<!---Table start-->
						<table width="100%" class="tbl">
							<thead>
								<tr class="mt-4">
								<th>Id</th>
								<th>Question</th>
								<th>Correct Answer</th>
								<th>First Option</th>
								<th>Second Option</th>
								<th>Third Option</th>
								<th>Fourth Option</th>								
								<th>Action</th>
							</tr>
							</thead>

							<tbody>
								<tr th:each="quizs,id:${quiz}">
										
								<td th:text="${id.count}" class="ml-3"></td>
								<td th:text="${quizs.question}"></td>					
								<td th:text="${quizs.answer}"></td>					
								
							
									   <!--   <td th:text="${option.op1}"></td>
										  <td th:text="${option.op2}"></td>
										  <td th:text="${option.op3}"></td>
										  <td th:text="${option.op4}"></td>-->
										
							
							</tr>
							</tbody>
						</table>
						<!---Table end-->

					</div>
				</div>
			</div>
</div>
<!-- End Page Title -->

</main>
<!-- End #main -->
</section>
</div>

<style>
	.btnss {
		margin-left: 780px;
		margin-bottom: 5px;
	}

	.btnform {
		width: 30%;
		float: left;
	}

	.tbl {
		font-size: 12px;
	}

	table {
		border-collapse: collapse;
		width: 100%;
		margin-bottom: 20px;
	}

	th,
	td {
		padding: 12px 15px;
		text-align: left;
		border-bottom: 1px solid #ddd;
	}

	/* Style the table header */
	th {
		background-color: #f2f2f2;
		color: #333;
	}

	/* Style alternating rows */
	tr:nth-child(even) {
		background-color: #f2f2f2;
	}

	/* Style table rows on hover */
	tr:hover {
		background-color: #ddd;
	}

	/* Add some spacing and center-align text in the first column */
	td:first-child {
		padding-left: 10px;
		/*text-align: center;*/
	}
</style>