<div xmls:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
	<section>
		<main id="main" class="main">

			<div class="pagetitle">
				<h1>Holidays & Acadmic Plan</h1>
				<nav>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="adminDashBoard">Admin</a></li>
						<li class="breadcrumb-item">Holidays & Acadmic Plan</li>
						<li class="breadcrumb-item active">Update Complaints</li>
					</ol>
				</nav>
				<div class="col-sm-6 offset-md-1">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Update Complaints</h5>

							<!-- Vertical Form -->
							<form class="row g-3" th:action="@{/updateComplaints{id}}" method="post" enctype="multipart/form-data" th:object="${complaintsUpdate}">
								<input type="text" name="id" class="form-control" id="id" th:value="${id}">
								<div class="col-12">
									<label for="complaint" class="form-label">Update Complaints</label>
									<input type="text" name="complaint" class="form-control" id="complaint" th:value="${complaint}">
								</div>
								<br><br><br>
								<div class="text-center" style="text-align: center;">
									<button type="submit" name="submit" class="btn btn-primary">Submit</button>
									<button type="reset" name="reset" class="btn btn-secondary">Reset</button>
								</div>
							</form><!---Vertical Form -->

						</div>
					</div>
				</div>
			</div><!-- End Page Title -->

		</main><!-- End #main -->
	</section>

</div>