<div xmls:th="http://www.thymeleaf.org" th:replace="admin/master::layout(~{::section})">
	<section>
		<main id="main" class="main">

			<div class="pagetitle">
				<h1>Update Images</h1>
				<nav>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="adminDashBoard">Admin</a></li>
						<li class="breadcrumb-item">Gallery</li>
						<li class="breadcrumb-item active">Update Image</li>
					</ol>
				</nav>				
				<div class="col-sm-6 offset-md-3">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">update Images...</h5>

							<!-- Vertical Form -->
							<form class="row g-3" th:action="@{/updateImg}" enctype="multipart/form-data" method="POST" th:Object="${updateImg}">
								
								<input type="text" name="id" class="form-control" id="id" th:value="${id}">
								
								<div class="col-12">
									<label for="img" class="form-label">Image</label>
									<input type="file" name="img" class="form-control" id="inputNanme4" th:value="${img}">
								</div>
								
								<br><br><br>
								<div class="text-center" style="text-align: center;">
									<button type="submit" name="submit" class="btn btn-primary">Submit</button>
									<button type="reset" name="reset" class="btn btn-secondary">Reset</button>
								</div>
							</form><!-- Vertical Form -->

						</div>
					</div>
				</div>
			</div><!-- End Page Title -->
			
			
			<div class="container">
				<div class="row">
					<div class="col-md-3" th:each="im:${lists}">
						<div class="cards mt-3">
							
							<img th:src="@{'img/'+${im.imageName}}" width="100%" height="100px" alt="Not find this path">
							
						</div>
					</div>
				</div>
			</div>

		</main><!-- End #main -->
	</section>

</div>