<div xmls:th="http://www.thymeleaf.org" th:replace="admin/master::layout(~{::section})">

	<section>
		<main id="main" class="main">
			<div class="pagetitle">
				<h1>View All Question</h1>
				<nav>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="viewhomework">Admin</a></li>
						<li class="breadcrumb-item">Gallery</li>
						<li class="breadcrumb-item active">View All Photos</li>
					</ol>
				</nav>
			</div><!-- End Page Title -->
			<br>
			<div class="card-body table-responsive">
				<table width="100%">
				<thead>
					<tr class="mt-4">
					<th>Sr.no.</th>
					<th>Image</th>
					<th>Image Name</th>
					<th>Action</th>
				</tr>
				</thead>
				<tbody>
					<tr th:each="im,id:${lists}">
					<td th:text="${id.count}" class="ml-3"></td>
					<td><a th:href="@{'asset/img/'+${im.imageName}}" target="_blank"><img th:src="@{'asset/img/'+${im.imageName}}"
								width="50%" height="120px" alt="" class="mt-2"></a></td>
					<td th:text="${im.imageName}"></td>
					<td>
						<div class="form">
							<form th:action="@{/deleteUpload/{id}}" method="post" th:object="${im}">
								<input type="hidden" th:value="${im.id}" name="id" />
								<button type="submit" value="Submit" class="bg-danger">Delete</button>
							</form>
						</div>
						<div class="form">
							<button class="bg-success"><a th:href="|@{/updateImg}|"
									style="color: white;">Update</a>&nbsp;</button>
						</div>

					</td>
				</tr>
				</tbody>
			</table>
			</div>
		</main><!-- End #main -->
	</section>
</div>
<style>
	/* Define some basic table styles */
table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 20px;
}

th,
td {
	padding: 12px 15px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

/* Style the table header */
th {
	background-color: #f2f2f2;
	color: #333;
}

/* Style alternating rows */
tr:nth-child(even) {
	background-color: #f2f2f2;
}

/* Style table rows on hover */
tr:hover {
	background-color: #ddd;
}

/* Add some spacing and center-align text in the first column */
td:first-child {
	padding-left: 10px;
	/*text-align: center;*/
}

button {
	border-radius: 5px;
	color: white;
	border: none;
}

.form {
	float: left;
	margin-left: 2px;
}
</style>