<div xmls:th="http://www.thymeleaf.org" th:replace="admin/master::layout(~{::section})">

	<section>
		<main id="main" class="main">
			<div class="pagetitle">
				<h1>View All Results</h1>
				<nav>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="adminDashBoard">Admin</a></li>
						<li class="breadcrumb-item">Student Result and Report Card</li>
						<li class="breadcrumb-item active">View Result</li>
					</ol>
				</nav>
			</div><!-- End Page Title -->
			<br>
			<div class="col-sm-12">
				<div class="card">
					<div class="card-body table-responsive">
						<h5 class="card-title">View Result</h5>
						<table width="100%">
							<thead>
								<tr class="mt-4">
								<th>Sr.no.</th>
								<th>Result</th>
								<th>Result Name</th>
								<th>Action</th>
							</tr>
							</thead>
							<tbody>
								<tr th:each="im,id:${lists}">
								<td th:text="${id.count}" class="ml-3"></td>
								<td><a th:href="@{'img/'+${im.result}}" target="_blank"><img
											th:src="@{'img/'+${im.result}}" width="50%" height="120px" alt=""
											class="mt-2"></a></td>
								<td th:text="${im.result}"></td>
								<td>
									<form th:action="@{/deleteResult/{id}}" method="post" th:object="${im}">
											<input type="hidden" th:value="${im.id}" name="id" />
											<button type="submit" value="Submit" class="btn btn-danger"
												style="height: 15px; font-size: 15px; text-align: center;">Delete</button>
										</form>
									<button class="bg-success"><a th:href="|@{/updateResult/{id}(id=${im.id})}|"
											style="color: white;">Update</a>&nbsp;</button>
								</td>
							</tr>
							</tbody>
						</table>

					</div>
				</div>
			</div>
</div><!-- End Page Title -->
</main><!-- End #main -->
</section>
</div>

<style>
	button {
		border-radius: 5px;
		color: white;
		border: none;
	}
	/* Define some basic table styles */
table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 20px;
}

th,
td {
	padding: 12px 15px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

/* Style the table header */
th {
	background-color: #f2f2f2;
	color: #333;
}

/* Style alternating rows */
tr:nth-child(even) {
	background-color: #f2f2f2;
}

/* Style table rows on hover */
tr:hover {
	background-color: #ddd;
}

/* Add some spacing and center-align text in the first column */
td:first-child {
	padding-left: 10px;
	/*text-align: center;*/
}

</style>